<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tenant.name %>
</p>

<p>
  <b>Domain url:</b>
  <%= @tenant.domain_url %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
